<section>
	{{ with .Site.Params.guides }}
    <h2>{{ .title }}</h2>
    <!-- <h4>{{ .summary }}</h4> -->
  {{ end }}

	<div class="row">
    {{ range first 2 (where .Data.Pages "Section" "guides") }}
		<article class="6u 12u$(xsmall) work-item">
      <a href="{{ .Permalink }}" class="image fit thumb"><img src="{{ $.Site.BaseURL }}images/{{ .Params.thumb }}" alt="" /></a>
			<h3>{{ .Title | markdownify }}</h3>
			<p>{{ .Params.Short_description | markdownify }}</p>
		</article>
		{{ end }}
	</div>
</section>
